@model ReservasDeCine.Models.Funcion

@{
    ViewData["Title"] = "Delete";
}


<div>
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-body">
                <h3>Quieres eliminar esta Función?</h3>
                <hr />
                <dl class="row">
                    <dt class="col-sm-5">
                        @Html.DisplayNameFor(model => model.Descripcion)
                    </dt>
                    <dd class="col-sm-5">
                        @Html.DisplayFor(model => model.Descripcion)
                    </dd>
                    <dt class="col-sm-5">
                        @Html.DisplayNameFor(model => model.Fecha)
                    </dt>
                    <dd class="col-sm-5">
                        @Html.DisplayFor(model => model.Fecha)
                    </dd>
                    <dt class="col-sm-5">
                        @Html.DisplayNameFor(model => model.Hora)
                    </dt>
                    <dd class="col-sm-5">
                        @Html.DisplayFor(model => model.Hora)
                    </dd>
                    <dt class="col-sm-5">
                        @Html.DisplayNameFor(model => model.ButacasDisponibles)
                    </dt>
                    <dd class="col-sm-5">
                        @Html.DisplayFor(model => model.ButacasDisponibles)
                    </dd>
                    <dt class="col-sm-5">
                        @Html.DisplayNameFor(model => model.Confirmada)
                    </dt>
                    <dd class="col-sm-5">
                        @Html.DisplayFor(model => model.Confirmada)
                    </dd>
                    <dt class="col-sm-5">
                        @Html.DisplayNameFor(model => model.Pelicula.Titulo)
                    </dt>
                    <dd class="col-sm-5">
                        @Html.DisplayFor(model => model.Pelicula.Titulo)
                    </dd>
                    <dt class="col-sm-5">
                        @Html.DisplayNameFor(model => model.Sala.Numero)
                    </dt>
                    <dd class="col-sm-5">
                        @Html.DisplayFor(model => model.Sala.Numero)
                    </dd>
                </dl>

                <form asp-action="Delete">
                    <input type="hidden" asp-for="Id" />
                    <input type="submit" value="Delete" class="btn btn-danger" /> |
                    <a asp-action="Index" class="btn btn-info">Vuelta al listado</a>
                </form>
            </div>
        </div>
    </div>
</div>