@model ReservasDeCine.Models.Funcion

@{
    ViewData["Title"] = $"Funcion {Model.Descripcion}";
}

<div>
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Datos de Función @Model.Descripcion</h5>

                <hr />

                <dl class="row">
                    <dt class="col-sm-5">
                        @Html.DisplayNameFor(model => model.Descripcion)
                    </dt>
                    <dd class="col-sm-5">
                        @Html.DisplayFor(model => model.Descripcion)
                    </dd>
                    <dt class="col-sm-5">
                        @Html.DisplayNameFor(model => model.Fecha)
                    </dt>
                    <dd class="col-sm-5">
                        @Html.DisplayFor(model => model.Fecha)
                    </dd>
                    <dt class="col-sm-5">
                        @Html.DisplayNameFor(model => model.Hora)
                    </dt>
                    <dd class="col-sm-5">
                        @Html.DisplayFor(model => model.Hora)
                    </dd>
                    <dt class="col-sm-5">
                        @Html.DisplayNameFor(model => model.ButacasDisponibles)
                    </dt>
                    <dd class="col-sm-5">
                        @Html.DisplayFor(model => model.ButacasDisponibles)
                    </dd>
                    <dt class="col-sm-5">
                        @Html.DisplayNameFor(model => model.Confirmada)
                    </dt>
                    <dd class="col-sm-5">
                        @Html.DisplayFor(model => model.Confirmada)
                    </dd>
                    <dt class="col-sm-5">
                        @Html.DisplayNameFor(model => model.Pelicula.Titulo)
                    </dt>
                    <dd class="col-sm-5">
                        @Html.DisplayFor(model => model.Pelicula.Titulo)
                    </dd>
                    <dt class="col-sm-5">
                        @Html.DisplayNameFor(model => model.Sala.Numero)
                    </dt>
                    <dd class="col-sm-5">
                        @Html.DisplayFor(model => model.Sala.Numero)
                    </dd>
                </dl>
                <hr />
                <div class="form-group">
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">
                        Editar
                    </a>
                    <a asp-action="Index" class="btn btn-danger">
                        Cancelar
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
