@model IEnumerable<ReservasDeCine.Models.Funcion>

@{ ViewData["Title"] = "Funciones"; }

<h1>@TempData["Titulo"]</h1>

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ButacasDisponibles)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Confirmada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sala.Numero)
            </th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelitem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelitem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ButacasDisponibles)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Confirmada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sala.Numero)
            </td>

        </tr>
        }
    </tbody>
</table>
<p>
    <a asp-controller="Home" asp-action="Index" class="btn btn-outline-danger">Volver</a>
</p>

<!-- AR agregue esto para que se vean las filas en 2 colores, el de boostrap no se nota o no funciona-->
<style>
    .table-striped tbody tr:nth-of-type(odd) {
        background-color: rgba(217, 217, 217, 0.8);
    }

    .table-striped tbody tr:nth-of-type(even) {
        background-color: rgba(0, 124, 178, 0.8);
    }
</style>
