@model IEnumerable<ReservasDeCine.Models.Reserva>

@{ ViewData["Title"] = "Reservas de función"; }

<h1>@TempData["Titulo"]</h1>

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Funcion.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Funcion.Hora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Funcion.Pelicula.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaAlta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantidadButacas)
            </th>
        </tr>
    </thead>
    <tbody>
            @for (int i = 0; i < Model.Count(); i++)
            {
                var item = Model.ElementAtOrDefault(i);
                <tr>
                    <td>
                        @item.Funcion.Fecha.ToString("dd/MM/yyyy")
                    </td>
                    <td>
                        @item.Funcion.Hora
                    </td>
                    <td>
                        @item.Funcion.Pelicula.Titulo
                    </td>
                    <td>
                        @item.FechaAlta.Date
                    </td>
                    <td>
                        @item.CantidadButacas
                    </td>
                </tr>
            }
        
    </tbody>
</table>
<p>
    <a asp-action="Index" class="btn btn-danger">Volver</a>
</p>



<!-- AR agregue esto para que se vean las filas en 2 colores, el de boostrap no se nota o no funciona-->
<style>
    .table-striped tbody tr:nth-of-type(odd) {
        background-color: rgba(217, 217, 217, 0.8);
    }

    .table-striped tbody tr:nth-of-type(even) {
        background-color: rgba(0, 124, 178, 0.8);
    }
</style>