@model ReservasDeCine.Models.Sala

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Quieres eliminar esta sala ?</h3>
<div>
    <h4>Sala</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Numero)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Numero)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CapacidadButacas)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CapacidadButacas)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TipoSala.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TipoSala.Nombre)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Vuelta al listado</a>
    </form>
</div>

