@model IEnumerable<ReservasDeCine.Models.TipoSala>

@{ ViewData["Title"] = "Tipo de sala"; }

<h1>Tipo de sala</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-primary">Crear Tipo de sala</a>
</p>
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Precio)
                </td>
                <td>
                    <a class="btn btn-outline-warning btn-sm" asp-action="Edit" asp-route-id="@item.Id">
                        Editar
                    </a>
                    <a class="btn btn-outline-info btn-sm ml-1" asp-action="Details" asp-route-id="@item.Id">
                        Ver Detalles
                    </a>
                    <a class="btn btn-outline-danger btn-sm ml-1" asp-action="Delete" asp-route-id="@item.Id">
                        Eliminar
                    </a>

                </td>
            </tr>
}
    </tbody>
</table>

<!-- AR agregue esto para que se vean las filas en 2 colores, el de boostrap no se nota o no funciona-->
<style>
    .table-striped tbody tr:nth-of-type(odd) {
        background-color: rgba(217, 217, 217, 0.8);
    }

    .table-striped tbody tr:nth-of-type(even) {
        background-color: rgba(0, 124, 178, 0.8);
    }
</style>
